@import "../abstract/variaveis";

#cta {
  .cta-content-wrapper {
    max-width: 1296px;
    margin: 0 auto;
    .cta-content {
      width: 100%;
      background-image: url("../../images/cta.png");
      background-repeat: no-repeat;
      background-size: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 135px 0;
      .cta-left {
        width: 47%;
      }
      .cta-right {
        width: 47%;
        color: $textColor100;
        .section-name {
          display: flex;
          font-size: 18px;
          font-weight: 600;
          .number {
            margin-right: 24px;
          }
        }
        h4 {
          font-size: 64px;
          font-weight: bold;
          line-height: 72px;
          width: 60%;
          margin: 24px 0 52px;
        }
        button {
          border: 0;
          background-color: $lightColor;
          color: $primaryColor;
          border-radius: 8px;
          padding: 20px 56px;
          font-size: 18px;
          font-weight: bold;
        }
      }
    }
  }
}

@media (max-width: 1300px) {
  #cta {
    .cta-content-wrapper {
      max-width: 924px;
      .cta-content {
        padding: 90px 0;
        .cta-right {
          .section-name {
            font-size: 16px;
          }
          h4 {
            font-size: 48px;
            line-height: 56px;
            margin: 24px 0 32px;
          }
          button {
            padding: 12px 30px;
            font-size: 16px;
            font-weight: 600;
          }
        }
      }
    }
  }
}

@media (max-width: 940px) {
  #cta {
    .cta-content-wrapper {
      max-width: 760px;
      .cta-content {
        padding: 65px 0;
        .cta-right {
          h4 {
            font-size: 40px;
            line-height: 44px;
          }
          button {
            padding: 12px 20px;
          }
        }
      }
    }
  }
}
