@import "../abstract/variaveis";

#famous-projects {
  width: 100%;
  margin-top: 130px;
  margin-bottom: 270px;
  .projects-background-line-top {
    background-image: url("../../images/line-5.svg");
    background-repeat: no-repeat;
    background-position-y: 30%;
    .projects-background-line-bottom {
      background-image: url("../../images/line-6.svg");
      background-repeat: no-repeat;
      background-position-x: 99%;
      background-position-y: 64%;
      .projects-background-woman-image {
        background-image: url("../../images/female-background.png");
        background-repeat: no-repeat;
        background-position-y: 7%;
        background-position-x: 94%;
        background-size: 40%;
        .projects-header-content {
          .projects-top-header {
            display: flex;
            align-items: center;
            margin-bottom: 24px;
            .projects-section-name {
              display: flex;
              margin-left: 136px;
              position: absolute;
              font-size: 18px;
              color: $primaryColor;
              font-weight: 600;
              .projects-number {
                margin-right: 24px;
              }
            }
          }
          .projects-main-header {
            padding-left: 136px;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            width: 100%;
            h2 {
              font-size: 84px;
              color: $darkColor;
              width: 75%;
            }
          }
          .projects-description {
            padding-left: 136px;
            width: 55%;
            font-size: 18px;
            color: $textColor600;
            font-weight: 400;
            margin: 40px 0 180px;
            line-height: 32px;
          }
        }
        .projects-main-content {
          .projects-main-product {
            display: flex;
            position: relative;
            min-height: 700px;
            .projects-main-product-title {
              width: 40%;
              z-index: 500;
              .main-project-tag {
                color: $textColor100;
                background-color: $accentColorPurpleShade;
                font-size: 14px;
                font-weight: 600;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px;
                border-radius: 40px;
                width: 30%;
              }
              h6 {
                font-size: 40px;
                font-weight: bold;
                color: $textColor900;
                line-height: 48px;
                margin: 24px 0 32px;
              }
              p {
                font-size: 18px;
                line-height: 32px;
                color: $textColor600;
                font-weight: 400;
                width: 50%;
              }
            }
            .projects-main-product-image {
              width: 60%;
              position: absolute;
              left: 300px;
              .main-project-background {
                background-color: $primaryColorShade;
                position: relative;
                padding: 0 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                border-radius: 24px;
                .main-project-image {
                  img {
                    width: 100%;
                  }
                }
                button {
                  position: absolute;
                  bottom: 32px;
                  left: 32px;
                  width: 72px;
                  height: 72px;
                  border: 0;
                  border-radius: 50%;
                  color: $textColor100;
                  background-color: $darkColor;
                  font-size: 18px;
                  font-weight: bold;
                }
                .main-project-arrow-button {
                  position: absolute;
                  right: -32px;
                  top: 100px;
                  transform: rotate(-90deg);
                  width: 64px;
                }
              }
            }
          }
          .projects-bento-pt1 {
            width: 100%;
            display: flex;
            flex-direction: row-reverse;
            .project-card {
              width: 50%;
              h6 {
                color: $darkColor;
                font-size: 40px;
                font-weight: bold;
                line-height: 48px;
                margin-bottom: 40px;
              }
              p {
                color: $textColor600;
                line-height: 32px;
                font-size: 18px;
                font-weight: 400;
                width: 65%;
                margin-top: 40px;
              }
            }
            .vol2 {
              display: flex;
              flex-direction: column;
              align-items: flex-end;
              .vol2-content {
                width: 70%;
                position: relative;
                p {
                  width: 100%;
                }
                .project-image {
                  border-radius: 24px;
                  width: 100%;
                  height: 200%;
                  background-color: $secondaryColorShade;
                  position: relative;
                  img {
                    width: 120%;
                    position: absolute;
                    left: -40%;
                    top: 15%;
                  }
                  button {
                    border: 0;
                    background: transparent;
                    position: absolute;
                    top: 65%;
                    right: 27px;
                    img {
                      width: 54px;
                      transform: rotate(-90deg);
                    }
                  }
                }
              }
            }
            .d3 {
              padding-top: 300px;
              .project-image {
                width: 80%;
                background-color: $accentColorOrangeShade;
                padding: 65px 85px 65px 55px;
                border-radius: 24px;
                position: relative;
                img {
                  width: 100%;
                }
                button {
                  border: 0;
                  background: transparent;
                  position: absolute;
                  top: 75%;
                  right: -27px;
                  img {
                    width: 54px;
                    transform: rotate(-90deg);
                  }
                }
              }
            }
          }
          .projects-bento-pt2 {
            width: 100%;
            display: flex;

            flex-direction: row-reverse;
            .project-card {
              width: 50%;
              h6 {
                color: $darkColor;
                font-size: 40px;
                font-weight: bold;
                line-height: 48px;
                margin-bottom: 40px;
              }
              p {
                color: $textColor600;
                line-height: 32px;
                font-size: 18px;
                font-weight: 400;
                width: 65%;
                margin-top: 40px;
              }
            }
            .vol3 {
              .project-image {
                width: 80%;
                background-color: $primaryColorShade;
                padding: 65px 85px 65px 55px;
                border-radius: 24px;
                position: relative;
                img {
                  width: 100%;
                }
                button {
                  border: 0;
                  background: transparent;
                  position: absolute;
                  top: 75%;
                  right: -27px;
                  img {
                    width: 54px;
                    transform: rotate(-90deg);
                  }
                }
              }
            }
            .sapiens {
              padding-top: 370px;
              display: flex;
              align-items: flex-end;
              flex-direction: column;
              .sapiens-content {
                width: 50%;
                margin-right: 135px;
                p {
                  width: 100%;
                }
                .project-image {
                  width: 100%;
                  display: flex;
                  align-items: flex-start;
                  background-color: $accentColorPinkShade;
                  padding: 0 20px 0 20px;
                  border-radius: 24px;
                  position: relative;
                  img {
                    margin-top: 45%;
                    margin-bottom: 30%;
                    width: 100%;
                  }
                  button {
                    border: 0;
                    background: transparent;
                    position: absolute;
                    top: 70%;
                    right: -27px;
                    img {
                      width: 54px;
                      transform: rotate(-90deg);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  #famous-projects {
    .projects-background-line-top {
      background-position-y: 30%;
      .projects-background-line-bottom {
        background-position-x: 99%;
        background-position-y: 64%;
        .projects-background-woman-image {
          background-position-y: 7%;
          background-position-x: 94%;
          background-size: 40%;
          .projects-header-content {
            .projects-top-header {
              .projects-section-name {
                margin-left: 117px;
                font-size: 16px;
              }
            }
            .projects-main-header {
              padding-left: 117px;
              h2 {
                font-size: 64px;
              }
            }
            .projects-description {
              padding-left: 117px;
              width: 55%;
              font-size: 16px;
              margin: 40px 0 75px;
            }
          }
          .projects-main-content {
            .projects-main-product {
              min-height: 500px;
              .projects-main-product-title {
                .main-project-tag {
                  font-size: 12px;
                  padding: 10px;
                  border-radius: 40px;
                  width: 40%;
                }
                h6 {
                  font-size: 32px;
                  font-weight: bold;
                  line-height: 40px;
                  margin: 16px 0 24px;
                }
                p {
                  font-size: 16px;
                  width: 70%;
                }
              }
              .projects-main-product-image {
                left: 225px;
                .main-project-background {
                  padding: 0 40px;
                  border-radius: 16px;
                  .main-project-image {
                    img {
                      width: 100%;
                    }
                  }
                  button {
                    display: none;
                  }
                  .main-project-arrow-button {
                    right: -24px;
                    width: 48px;
                  }
                }
              }
            }
            .projects-bento-pt1 {
              .project-card {
                h6 {
                  font-size: 32px;
                }
                p {
                  font-size: 16px;
                }
              }
              .vol2 {
                .vol2-content {
                  width: 70%;
                  .project-image {
                    height: 160%;
                    img {
                      width: 110%;
                      left: -40%;
                      top: 15%;
                    }
                    button {
                      right: 23px;
                      img {
                        width: 45px;
                      }
                    }
                  }
                }
              }
              .d3 {
                padding-top: 250px;
                .project-image {
                  width: 70%;
                  padding: 55px 65px 55px 35px;
                  img {
                    width: 110%;
                  }
                  button {
                    right: -23px;
                    img {
                      width: 45px;
                    }
                  }
                }
              }
            }
            .projects-bento-pt2 {
              .project-card {
                h6 {
                  font-size: 32px;
                }
                p {
                  font-size: 16px;
                }
              }
              .vol3 {
                .project-image {
                  width: 70%;
                  padding: 50px 65px 50px 35px;
                  img {
                    width: 110%;
                  }
                  button {
                    right: -23px;
                    img {
                      width: 45px;
                    }
                  }
                }
              }
              .sapiens {
                padding-top: 250px;
                .sapiens-content {
                  width: 60%;
                  margin-right: 115px;
                  .project-image {
                    button {
                      top: 70%;
                      right: -23px;
                      img {
                        width: 45px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 940px) {
  #famous-projects {
    .projects-background-line-top {
      background-position-y: 30%;
      .projects-background-line-bottom {
        background-position-x: 99%;
        background-position-y: 64%;
        .projects-background-woman-image {
          background-position-y: 7%;
          background-position-x: 94%;
          background-size: 40%;
          .projects-header-content {
            .projects-top-header {
              .projects-section-name {
                margin-left: 100px;
              }
            }
            .projects-main-header {
              padding-left: 100px;
              h2 {
                font-size: 54px;
              }
            }
            .projects-description {
              padding-left: 100px;
              width: 65%;
              margin: 30px 0 75px;
            }
          }
          .projects-main-content {
            .projects-main-product {
              min-height: 500px;
              .projects-main-product-title {
                .main-project-tag {
                  padding: 10px;
                  border-radius: 40px;
                  width: 50%;
                }
                p {
                  font-size: 16px;
                  width: 80%;
                }
              }
              .projects-main-product-image {
                left: 225px;
                .main-project-background {
                  padding: 0 40px;
                  .main-project-image {
                    width: 120%;
                  }
                }
              }
            }
            .projects-bento-pt1 {
              .vol2 {

                .vol2-content {
                  width: 80%;

                  .project-image {
                    height: 130%;
                    img {
                      width: 100%;
                      left: -20%;
                      top: 15%;
                    }
                  }
                }
              }
              .d3 {
                p{
                  width: 100%;
                }
                .project-image {
                  width: 90%;
                  padding: 55px 65px 55px 35px;
                  img {
                    width: 110%;
                  }
                  button {
                    right: -23px;
                    img {
                      width: 45px;
                    }
                  }
                }
              }
            }
            .projects-bento-pt2 {
              .vol3 {
                p{
                  width: 100%;
                }
                .project-image {
                  width: 80%;
                }
              }
              .sapiens {
                p{
                  width: 100%;
                }
                padding-top: 250px;
                .sapiens-content {
                  width: 70%;
                  margin-right: 100px;
                }
              }
            }
          }
        }
      }
    }
  }
}
