@import "../abstract/variaveis";

footer {
  background-image: url("../../images/line-9.svg");
  background-repeat: no-repeat;
  background-position-x: 100%;
  .footer-main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 128px;
    flex-direction: column;
    p {
      margin: 48px 0;
      width: 50%;
      text-align: center;
      font-size: 18px;
      color: $textColor400;
      line-height: 32px;
      font-weight: 600;
    }
    .menu {
      .mobile-select{
        display: none;
      }
      ul {
        display: flex;
        li {
          margin: 0 32px;
          list-style: none;
          a {
            text-decoration: none;
            color: $textColor500;
            font-size: 18px;
            font-weight: 600;
          }
          a:hover {
            color: $textColor400;
          }
          a:active {
            color: $primaryColor;
          }
        }
        .jobs {
          display: flex;
          position: relative;
          img {
            position: absolute;
            top: -12px;
            right: -32px;
          }
        }
      }
    }
  }
  .footer-bottom {
    padding: 32px 0;
    margin-top: 48px;
    border-top: 1px solid #d8d8d8;
    display: flex;
    justify-content: space-between;
    .footer-bottom-left {
      p {
        font-size: 14px;
        color: $textColor400;
        font-weight: 600;
      }
    }
    .footer-bottom-right {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 19%;
      a {
        color: $primaryColor;
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
      }
    }
  }
}

@media (max-width: 1200px) {
  footer {
    background-position-x: 100%;
    .footer-main-content {
      padding-top: 100px;
      p {
        margin: 30px 0;
        font-size: 15px;
        line-height: 18px;
      }
      .menu {
        ul {
          li {
            margin: 0 32px;
            list-style: none;
            a {
              font-size: 16px;
            }
          }
        }
      }
    }
    .footer-bottom {
      padding: 28px 0;
      .footer-bottom-left {
        p {
          font-size: 12px;
        }
      }
      .footer-bottom-right {
        width: 20%;
        a {
          font-size: 12px;
        }
      }
    }
  }
}
@media (max-width: 760px) {
  footer {
    background-position-x: 100%;
    .footer-main-content {
      padding-top: 100px;
      p {
        width: 80%;
        font-weight: 400;
      }
    }
    .footer-bottom {
      padding: 28px 0;
      .footer-bottom-right {
        width: 30%;
      }
    }
  }
}
@media (max-width: 580px) {
  footer {
    background-position-x: 100%;
    .footer-main-content {
      padding-top: 100px;
      p {
        width: 80%;
        font-weight: 400;
      }
      .menu {
        width: 100%;
        ul{

          display: none;
        }
        .mobile-select{
          display: initial;
          width: 100%;
          padding: 16px 24px;
          color: $textColor600;
          font-size: 14px;
          font-weight: 600;
          border-radius: 8px;
          background: transparent;
          border: 1px solid #e2e2e2;
        }
      }
    }
    .footer-bottom {
      margin-top: 32px;
      flex-direction: column-reverse;
      align-items: center;
      border: 0;
      .footer-bottom-left {
        margin-top: 32px;
      }
      .footer-bottom-right {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 19%;
        img{
          border: 1px solid #d8d8d8;
          padding: 15px;
          border-radius: 50%;
          width: 100%;
          margin-right: 8px;
        }
        img:nth-child(3){
          border: 1px solid #d8d8d8;
          padding: 17px 15px;
          border-radius: 50%;
          width: 100%;
          margin-right: 8px;
        }
        a {
          display: none;
        }
      }
    }
  }
}
