@import "../abstract/variaveis";

body {
  background-image: url("../../images/line-1.svg");
  background-repeat: no-repeat;
  background-position-y: -20px;
  background-position-x: 230px;
  // margin-bottom: 20px;
  background-color: $lightColor;
}

/* Menu */
nav {
  padding: 32px 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // position: fixed;
  // top: 0;
  // left: 0;
  // z-index: 500;
  // width: 100%;
  // background-color: $lightColor;
  .menu {
    ul {
      display: flex;
      li {
        margin: 0 32px;
        list-style: none;
        a {
          text-decoration: none;
          color: $textColor500;
          font-size: 18px;
          font-weight: 600;
        }
        .hover {
          color: $textColor400;
        }
        .active {
          color: $primaryColor;
        }
      }
      .jobs {
        display: flex;
        position: relative;
        img {
          position: absolute;
          top: -12px;
          right: -32px;
        }
      }
    }
  }
  .contact-us-button {
    height: 64px;
    button {
      height: 100%;
      background-color: $darkColor;
      color: $textColor100;
      border: 0;
      padding: 0 44px;
      border-radius: 8px;
      font-size: 18px;
      font-weight: 700;
    }
  }
  .menu-button-mobile{
    display: none;
  }
}

/*Hero Section Content*/
.hero-section-content {
  margin: 90px 0;
  .main-content {
    display: flex;
    .content-left {
      width: 40%;
      h1 {
        margin-bottom: 40px;
        font-size: 84px;
        color: $darkColor;
      }
      p {
        font-size: 18px;
        color: $textColor600;
        margin-right: 100px;
        margin-bottom: 40px;
      }

      .scroll-down-button {
        display: flex;
        align-items: center;
        background: transparent;
        border: 0;
        font-size: 18px;
        color: $textColor500;
        margin-top: 90px;
        div {
          margin-right: 16px;
        }
      }
    }

    .content-right {
      width: 60%;
      // margin-right: 70px;
      position: relative;
      .content-right-image {
        z-index: 2;
        position: relative;
        width: 110%;
        margin-top: 70px;
        margin-left: -170px;
        img {
          width: 100%;
        }
      }
    }
  }
  .content-right::before {
    content: "";
    background-color: $secondaryColor;
    width: 50%;
    height: 650px;
    position: absolute;
    top: 0;
    right: 130px;
    border-top-left-radius: 50px;
    border-top-right-radius: 120px;
    border-bottom-left-radius: 50px;
    transform: skew(-20deg);
    // z-index: 0;
  }
  .content-right::after {
    content: "";
    background-color: $secondaryColor;
    width: 45%;
    height: 650px;
    position: absolute;
    top: 0;
    right: 30px;
    border-radius: 30px;
    border-top-left-radius: 60px;
    // transform: skew(-20deg);
    // z-index: 0;
  }
}

@media (max-width: 1200px) {
  body {
    background-size: 50%;
    background-position-y: 0px;
  }

  /* Menu */
  nav {
    padding: 32px 50px;
    .menu {
      ul {
        li {
          margin: 0 32px;
          list-style: none;
          a {
            font-size: 16px;
          }
        }
      }
    }
    .contact-us-button {
      height: 56px;
      button {
        padding: 0 40px;
        font-size: 16px;
      }
    }
  }

  /*Hero Section Content*/
  .hero-section-content {
    .main-content {
      .content-left {
        h1 {
          margin-bottom: 24px;
          font-size: 64px;
        }
        p {
          font-size: 16px;
          margin-bottom: 32px;
        }
        .scroll-down-button {
          font-size: 16px;
          margin-top: 56px;
        }
      }

      .content-right {
        width: 60%;
        .content-right-image {
          width: 105%;
          margin-top: 70px;
          margin-left: -110px;
          img {
            width: 100%;
          }
        }
      }
    }
    .content-right::before {
      content: "";
      width: 42%;
      height: 515px;
    }
    .content-right::after {
      content: "";
      width: 45%;
      height: 515px;
    }
  }
}

@media (max-width: 940px) {
  body {
    background-size: 50%;
    background-position-y: 0px;
  }

  /* Menu */
  nav {
    padding: 32px 40px;
    .menu {
      ul {
        li {
          margin: 0 24px;
        }
      }
    }
    .contact-us-button {
      height: 48px;
      button {
        padding: 0 20px;
      }
    }
  }

  /*Hero Section Content*/
  .hero-section-content {
    .main-content {
      .content-left {
        h1 {
          font-size: 54px;
        }
        p {
          margin-bottom: 32px;
          margin-right: 16px;
        }
        .scroll-down-button {
          margin-top: 48px;
        }
      }

      .content-right {
        width: 60%;
        .content-right-image {
          margin-top: 80px;
          margin-left: -80px;
        }
      }
    }
    .content-right::before {
      content: "";
      width: 45%;
      height: 460px;
    }
    .content-right::after {
      content: "";
      width: 53%;
      height: 460px;
    }
  }
}

@media (max-width: 760px) {
  body {
    background-position-y: -20px;
    background-position-x: 230px;
  }

  /* Menu */
  nav {
    padding: 42px 32px;

    .menu {
      display: none;
    }
    .contact-us-button {
      display: none;
    }
    .menu-button-mobile{
      display: initial;
    }
  }

  /*Hero Section Content*/
  .hero-section-content {
    margin: 0 0 90px;
    .content-wrapper {
      max-width: 100%;
      width: 100%;
      .main-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        .content-left {
          width: 73%;
          margin: 0 auto;
        }

        .content-right {
          display: flex;
          width: 100%;
          position: relative;
          margin-bottom: 40px;
          .content-right-image {
            z-index: 2;
            position: relative;
            width: 85%;
            margin-top: 70px;
            margin-left: 5%;
            img {
              width: 100%;
            }
          }
        }
      }
      .content-right::before {
        content: "";
        width: 33%;
        height: 570px;
        right: 18%;
      }
      .content-right::after {
        content: "";
        width: 36%;
        height: 570px;
        right: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }
}

@media (max-width: 580px) {
  body {
    background-position-y: -20px;
    background-position-x: 200px;
    background-size: 100%;
  }

  /* Menu */
  nav {
    padding: 42px 32px;
  }

  /*Hero Section Content*/
  .hero-section-content {

    .content-wrapper {
      .main-content {
        .content-left {
          .scroll-down-button{
            display: none;
          }
        }

        .content-right {
          position: relative;
          margin-bottom: 60px;
          .content-right-image {
            z-index: 2;
            position: relative;
            width: 100%;
            margin-top: 70px;
            margin-left: 0;
            img {
              width: 100%;
            }
          }
        }
      }
      .content-right::before {
        content: "";
        width: 37%;
        height: 530px;
        right: 26%;
      }
      .content-right::after {
        content: "";
        width: 48%;
        height: 530px;
        border-top-left-radius: 90px;
      }
    }
  }
}

@media (max-width: 460px) {

  /*Hero Section Content*/
  .hero-section-content {

    .content-wrapper {
      .main-content {

        .content-right {
          position: relative;
          margin-bottom: 60px;
          .content-right-image {
            z-index: 2;
            position: relative;
            width: 100%;
            margin-top: 90px;
            margin-left: 0;
            img {
              width: 100%;
            }
          }
        }
      }
      .content-right::before {
        content: "";
        width: 47%;
        height: 490px;
        right: 23%;
      }
      .content-right::after {
        content: "";
        width: 46%;
        height: 490px;
        border-top-left-radius: 50px;
      }
    }
  }
}

@media (max-width: 375px) {
  .hero-section-content {
    .content-wrapper {
      .main-content {
        .content-right {
          position: relative;
          margin-bottom: 60px;
          .content-right-image {
            z-index: 2;
            position: relative;
            width: 100%;
            margin-top: 90px;
            margin-left: 0;
            img {
              width: 100%;
            }
          }
        }
      }
      .content-right::before {
        content: "";
        width: 39%;
        height: 400px;
        right: 28%;
      }
      .content-right::after {
        content: "";
        width: 52%;
        height: 400px;
        border-top-left-radius: 80px;
      }
    }
  }
}
