@import "../abstract/variaveis";

.hero-section-menu {
  background-color: $lightColor;
  width: 100%;
  background-image: url("../../images/line-1.svg");
  background-repeat: no-repeat;
  background-position-y: -20px;
  background-position-x: 230px;
  margin-bottom: 20px;

  /* Menu */
  nav {
    padding: 64px 72px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .menu {
      ul {
        display: flex;
        li {
          margin: 0 32px;
          list-style: none;
          a {
            text-decoration: none;
            color: $textColor500;
            font-size: 18px;
            font-weight: 600;
          }
          a:hover {
            color: $textColor400;
          }
          a:active {
            color: $primaryColor;
          }
        }
        .jobs {
          display: flex;
          position: relative;
          img {
            position: absolute;
            top: -12px;
            right: -32px;
          }
        }
      }
    }
    .contact-us-button {
      height: 64px;
      button {
        height: 100%;
        background-color: $darkColor;
        color: $textColor100;
        border: 0;
        padding: 0 44px;
        border-radius: 8px;
        font-size: 18px;
        font-weight: 700;
      }
    }
  }

  /*Hero Section Content*/
  .hero-section-content {
    margin-top: 110px;
    padding: 0 130px;
    display: flex;
    .content-left {
      width: 40%;
      h1 {
        margin-bottom: 40px;
        font-size: 84px;
        color: $darkColor;
      }
      p {
        font-size: 18px;
        color: $textColor600;
        margin-right: 100px;
        margin-bottom: 40px;
      }

      .scroll-down-button{
        display: flex;
        align-items: center;
        background: transparent;
        border: 0;
        font-size: 18px;
        color: $textColor500;
        div{
          margin-right: 16px;
        }
      }
    }
    .content-right {
      width: 60%;
      position: relative;
      .content-right-image {
        z-index: 2;
        position: relative;
        width: 700px;
        margin-top: 70px;
        margin-left: -100px;
        img{
          width: 100%;
        }
      }
    }

    .content-right::before {
      content: "";
      background-color: $secondaryColor;
      width: 320px;
      height: 650px;
      position: absolute;
      top: 0;
      right: 130px;
      border-top-left-radius: 50px;
      border-top-right-radius: 120px;
      border-bottom-left-radius: 50px;
      transform: skew(-20deg);
      // z-index: 0;
    }
    .content-right::after {
      content: "";
      background-color: $secondaryColor;
      width: 250px;
      height: 650px;
      position: absolute;
      top: 0;
      right: 30px;
      border-radius: 30px;
      // border-top-left-radius: 60px;
      // transform: skew(-20deg);
      // z-index: 0;
    }
  }
}
