@import '../abstract/variaveis';

.content-wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .content-wrapper{
    max-width: 844px;
  }
}

@media (max-width: 940px) {
  .content-wrapper{
    max-width: 660px;
  }
}

@media (max-width: 760px) {
  .content-wrapper{
    max-width: 500px;
  }
}
@media (max-width: 580px) {
  .content-wrapper{
    max-width: 360px;
  }
}

@media (max-width: 375px) {
  .content-wrapper{
    max-width: 290px;
  }
}
