@import '../abstract/variaveis';

.content-wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .content-wrapper{
    max-width: 844px;
  }
}

@media (max-width: 940px) {
  .content-wrapper{
    max-width: 660px;
  }
}

@media (max-width: 760px) {
  .content-wrapper{
    max-width: 500px;
  }
}
@media (max-width: 570px) {
  .content-wrapper{
    max-width: 372px;
  }
}

@media (max-width: 375px) {
  .content-wrapper{
    max-width: 300px;
  }
}
