@import "../abstract/variaveis";

.main-button {
  width: 200px;
  height: 64px;
  border: 0;
  border-radius: 8px;
  background-color: $primaryColor;
  font-size: 18px;
  font-weight: bold;
  color: $textColor100;
  display: block;
}

@media (max-width: 1200px) {
  .main-button {
    width: 118px;
    height: 45px;
    font-size: 14px;
    font-weight: 600;
  }
}
