$font: "Roboto", sans-serif;

$primaryColor: #5468e7;
$primaryColorShade: #d1ecfd;
$secondaryColor: #c897e4;
$secondaryColorShade: #e8beff;
$darkColor: #232340;
$darkColorShade: #323259;
$lightColor: #ffffff;
$lightColorShade: #ededed;

$accentColorPink: #ffc7df;
$accentColorPinkShade: #ffadd0;
$accentColorOrange: #ffba79;
$accentColorOrangeShade: #ffce79;
$accentColorPurple: #9a97ed;
$accentColorPurpleShade: #908cff;

$textColor900: #000000;
$textColor600: #606060;
$textColor500: #8b8b8b;
$textColor400: #adadad;
$textColor100: #ffffff;

$whiteGradientLast: #ffffff;
$whiteGradientFirst: #ede5f0;
$blueGradientFirst: #3a8fff;
$blueGradientLast: #0837ae;
$darkBlueGradientFirst: #323259;
$darkBlueGradientLast: rgba(50, 50, 89, 0.01%);

$lineDecorationLightBlue: #d1ecfd;
$lineDecorationDarkBlue: #232340;
$lineDecorationPurple: #9a97ed;


