* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
}

.main-button {
  width: 200px;
  height: 64px;
  border: 0;
  border-radius: 8px;
  background-color: #5468e7;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  display: block;
}

.content-wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

body {
  background-image: url("../../images/line-1.svg");
  background-repeat: no-repeat;
  background-position-y: -20px;
  background-position-x: 230px;
  background-color: #ffffff;
}

/* Menu */
nav {
  padding: 32px 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .menu ul li {
  margin: 0 32px;
  list-style: none;
}

nav .menu ul li a {
  text-decoration: none;
  color: #8b8b8b;
  font-size: 18px;
  font-weight: 600;
}

nav .menu ul li a:hover {
  color: #adadad;
}

nav .menu ul li a:active {
  color: #5468e7;
}

nav .menu ul .jobs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

nav .menu ul .jobs img {
  position: absolute;
  top: -12px;
  right: -32px;
}

nav .contact-us-button {
  height: 64px;
}

nav .contact-us-button button {
  height: 100%;
  background-color: #232340;
  color: #ffffff;
  border: 0;
  padding: 0 44px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 700;
}

/*Hero Section Content*/
.hero-section-content {
  margin: 80px 0;
}

.hero-section-content .main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-section-content .main-content .content-left {
  width: 40%;
}

.hero-section-content .main-content .content-left h1 {
  margin-bottom: 40px;
  font-size: 84px;
  color: #232340;
}

.hero-section-content .main-content .content-left p {
  font-size: 18px;
  color: #606060;
  margin-right: 100px;
  margin-bottom: 40px;
}

.hero-section-content .main-content .content-left .scroll-down-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  border: 0;
  font-size: 18px;
  color: #8b8b8b;
  margin-top: 90px;
}

.hero-section-content .main-content .content-left .scroll-down-button div {
  margin-right: 16px;
}

.hero-section-content .main-content .content-right {
  width: 60%;
  margin-right: 70px;
  position: relative;
}

.hero-section-content .main-content .content-right .content-right-image {
  z-index: 2;
  position: relative;
  width: 100%;
  margin-top: 70px;
  margin-left: -100px;
}

.hero-section-content .main-content .content-right .content-right-image img {
  width: 100%;
}

.hero-section-content .content-right::before {
  content: "";
  background-color: #c897e4;
  width: 50%;
  height: 650px;
  position: absolute;
  top: 0;
  right: 130px;
  border-top-left-radius: 50px;
  border-top-right-radius: 120px;
  border-bottom-left-radius: 50px;
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
}

.hero-section-content .content-right::after {
  content: "";
  background-color: #c897e4;
  width: 45%;
  height: 650px;
  position: absolute;
  top: 0;
  right: 30px;
  border-radius: 30px;
  border-top-left-radius: 60px;
}

#who-we-are {
  margin-top: 67px;
  width: 100%;
  background-color: #232340;
  background-image: url("../../images/line-2.svg");
  background-position: initial;
  background-repeat: no-repeat;
  padding: 128px 0 169px;
  position: relative;
}

#who-we-are .header-content {
  position: relative;
  width: 100%;
  margin-top: 130px;
}

#who-we-are .header-content .top-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
}

#who-we-are .header-content .top-header .section-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 136px;
  position: absolute;
  font-size: 18px;
  color: #ffffff;
}

#who-we-are .header-content .top-header .section-name .number {
  color: #8b8b8b;
  margin-right: 24px;
}

#who-we-are .main-header {
  padding-left: 136px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

#who-we-are .main-header h2 {
  font-size: 64px;
  color: #ffffff;
  width: 75%;
}

#who-we-are .main-header .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 200;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#who-we-are .main-header .pagination button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

#who-we-are .main-header .pagination button img {
  width: 100%;
}

#who-we-are .main-header .pagination .right-arrow img {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

#who-we-are .main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 128px;
}

#who-we-are .main-content .main-years {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 40px;
}

#who-we-are .main-content .main-years ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#who-we-are .main-content .main-years ul li {
  list-style: none;
  margin-bottom: 96px;
  color: #8b8b8b;
}

#who-we-are .main-content .main-years .li-2020 {
  width: 100%;
  color: #ffffff;
}

#who-we-are .main-content .main-years .li-2020 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#who-we-are .main-content .main-years .li-2020 div div {
  width: 24px;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  left: 49px;
}

#who-we-are .main-content .main-years .li-2020 div img {
  position: absolute;
  left: 201px;
  z-index: 500;
}

#who-we-are .main-content .main-image {
  width: 870px;
}

#who-we-are .main-content .main-image img {
  width: 100%;
  position: relative;
  z-index: 200;
}

#who-we-are .final-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 100px 0;
}

#who-we-are .final-content .line {
  width: 2px;
  height: 80px;
  background-color: #ffffff;
}

#who-we-are .final-content .content {
  margin: 0 135px;
  max-width: 50%;
}

#who-we-are .final-content .content h6 {
  font-size: 32px;
  font-weight: bold;
  line-height: 40px;
  color: #ffffff;
}

#who-we-are .final-content .content p {
  color: #8b8b8b;
  font-size: 18px;
  line-height: 32px;
  margin: 40px 0;
}

#who-we-are .final-content .side-content {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#who-we-are .final-content .side-content .side-content-number {
  font-size: 200px;
  font-weight: 600;
}

#who-we-are .final-content .side-content .side-content-text {
  font-size: 24px;
  font-weight: bold;
}

#who-we-are::before {
  content: "";
  background-color: #323259;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(80%, #323259), to(rgba(50, 50, 89, 0.01)));
  background: linear-gradient(#323259 80%, rgba(50, 50, 89, 0.01));
  width: 418px;
  height: 800px;
  position: absolute;
  right: 150px;
  top: -35px;
  border-top-left-radius: 30px;
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
}

#who-we-are::after {
  content: "";
  background-color: #323259;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(80%, #323259), to(rgba(50, 50, 89, 0.01)));
  background: linear-gradient(#323259 80%, rgba(50, 50, 89, 0.01));
  width: 250px;
  height: 800px;
  position: absolute;
  right: 0;
  top: -35px;
  border-top-left-radius: 30px;
}

#what-we-do {
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#ede5f0), to(#ffffff));
  background: linear-gradient(#ede5f0, #ffffff);
}

#what-we-do .line-background-first {
  background-image: url("../../images/line-3.svg");
  background-position: initial;
  background-repeat: no-repeat;
  background-position-x: 114px;
}

#what-we-do .line-background-first .line-background-last {
  background-image: url("../../images/line-4.svg");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 90%;
}

#what-we-do .line-background-first .line-background-last .header-content {
  position: relative;
  width: 100%;
  padding-top: 152px;
}

#what-we-do .line-background-first .line-background-last .header-content .top-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
}

#what-we-do .line-background-first .line-background-last .header-content .top-header .section-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 136px;
  position: absolute;
  font-size: 18px;
  color: #5468e7;
}

#what-we-do .line-background-first .line-background-last .header-content .top-header .section-name .number {
  margin-right: 24px;
}

#what-we-do .line-background-first .line-background-last .main-header {
  padding-left: 136px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

#what-we-do .line-background-first .line-background-last .main-header h2 {
  font-size: 64px;
  color: #232340;
  width: 75%;
}

#what-we-do .line-background-first .line-background-last .main-header .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 200;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#what-we-do .line-background-first .line-background-last .main-header .pagination button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

#what-we-do .line-background-first .line-background-last .main-header .pagination button img {
  width: 100%;
}

#what-we-do .line-background-first .line-background-last .main-header .pagination .left-arrow img {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#what-we-do .line-background-first .line-background-last .main-header .pagination .right-arrow img {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

#what-we-do .line-background-first .line-background-last .main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 96px 0;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 560px;
  border-radius: 48px;
}

#what-we-do .line-background-first .line-background-last .main-content .blue {
  background-color: #5468e7;
  height: 560px;
  border-radius: 48px;
}

#what-we-do .line-background-first .line-background-last .main-content .blue p {
  color: #ffffff;
}

#what-we-do .line-background-first .line-background-last .main-content div {
  width: 293px;
  height: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 140px 0;
}

#what-we-do .line-background-first .line-background-last .main-content div img {
  width: 35%;
  margin-bottom: 40px;
}

#what-we-do .line-background-first .line-background-last .main-content div p {
  color: #5468e7;
  font-size: 24px;
  font-weight: bold;
}

#what-we-do .line-background-first .line-background-last .main-content div:first-child {
  border-top-left-radius: 48px;
  border-bottom-left-radius: 48px;
}

#what-we-do .line-background-first .line-background-last .main-content div:last-child {
  border-top-right-radius: 48px;
  border-bottom-right-radius: 48px;
}

#what-we-do .line-background-first .line-background-last .achievement-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 150px;
}

#what-we-do .line-background-first .line-background-last .achievement-content .achievement-left-content {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#what-we-do .line-background-first .line-background-last .achievement-content .achievement-left-content .achievement-image {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#what-we-do .line-background-first .line-background-last .achievement-content .achievement-left-content .achievement-image .image-circle {
  background-color: #ffc7df;
  width: 450px;
  height: 450px;
  position: absolute;
  border-radius: 50%;
}

#what-we-do .line-background-first .line-background-last .achievement-content .achievement-left-content .achievement-image img {
  width: 100%;
  z-index: 900;
  margin-left: 90px;
  padding-bottom: 35px;
}

#what-we-do .line-background-first .line-background-last .achievement-content .achievement-left-content .achievement-slide {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

#what-we-do .line-background-first .line-background-last .achievement-content .achievement-left-content .achievement-slide img {
  padding: 0 12px;
}

#what-we-do .line-background-first .line-background-last .achievement-content .achievement-right-content {
  width: 52%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#what-we-do .line-background-first .line-background-last .achievement-content .achievement-right-content .achievement-header-content .achievement-top-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

#what-we-do .line-background-first .line-background-last .achievement-content .achievement-right-content .achievement-header-content .achievement-top-header .achievement-mini-logo {
  margin-right: 75px;
}

#what-we-do .line-background-first .line-background-last .achievement-content .achievement-right-content .achievement-header-content .achievement-top-header .achievement-section-name {
  color: #232340;
  font-weight: 600;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#what-we-do .line-background-first .line-background-last .achievement-content .achievement-right-content .achievement-header-content .achievement-top-header .achievement-section-name .achievement-number {
  color: #8b8b8b;
  margin-right: 24px;
}

#what-we-do .line-background-first .line-background-last .achievement-content .achievement-right-content .achievement-header-content .achievement-main-header {
  padding-left: 0;
  padding-right: 135px;
}

#what-we-do .line-background-first .line-background-last .achievement-content .achievement-right-content .achievement-header-content .achievement-main-header h6 {
  font-size: 32px;
  font-weight: bold;
}

#what-we-do .line-background-first .line-background-last .achievement-content .achievement-right-content .achievement-main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#what-we-do .line-background-first .line-background-last .achievement-content .achievement-right-content .achievement-main-content .achievement-main-content-number {
  font-size: 200px;
  color: #5468e7;
  font-weight: 600;
  margin-top: 90px;
}

#what-we-do .line-background-first .line-background-last .achievement-content .achievement-right-content .achievement-main-content .achievement-main-content-text {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
}

#famous-projects {
  width: 100%;
  margin-top: 130px;
  margin-bottom: 400px;
}

#famous-projects .projects-background-line-top {
  background-image: url("../../images/line-5.svg");
  background-repeat: no-repeat;
  background-position-y: 300%;
}

#famous-projects .projects-background-line-top .projects-background-line-bottom .projects-background-woman-image {
  background-image: url("../../images/female-background.png");
  background-repeat: no-repeat;
  background-position-y: 200%;
  background-position-x: 96%;
}

#famous-projects .projects-background-line-top .projects-background-line-bottom .projects-background-woman-image .projects-header-content .projects-top-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
}

#famous-projects .projects-background-line-top .projects-background-line-bottom .projects-background-woman-image .projects-header-content .projects-top-header .projects-section-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 136px;
  position: absolute;
  font-size: 18px;
  color: #5468e7;
  font-weight: 600;
}

#famous-projects .projects-background-line-top .projects-background-line-bottom .projects-background-woman-image .projects-header-content .projects-top-header .projects-section-name .projects-number {
  margin-right: 24px;
}

#famous-projects .projects-background-line-top .projects-background-line-bottom .projects-background-woman-image .projects-header-content .projects-main-header {
  padding-left: 136px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

#famous-projects .projects-background-line-top .projects-background-line-bottom .projects-background-woman-image .projects-header-content .projects-main-header h2 {
  font-size: 84px;
  color: #232340;
  width: 75%;
}

#famous-projects .projects-background-line-top .projects-background-line-bottom .projects-background-woman-image .projects-header-content .projects-description {
  padding-left: 136px;
  width: 55%;
  font-size: 18px;
  color: #606060;
  font-weight: 400;
  margin: 40px 0 180px;
  line-height: 32px;
}

#famous-projects .projects-background-line-top .projects-background-line-bottom .projects-background-woman-image .projects-main-content .projects-main-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  min-height: 700px;
}

#famous-projects .projects-background-line-top .projects-background-line-bottom .projects-background-woman-image .projects-main-content .projects-main-product .projects-main-product-title {
  width: 40%;
  z-index: 500;
}

#famous-projects .projects-background-line-top .projects-background-line-bottom .projects-background-woman-image .projects-main-content .projects-main-product .projects-main-product-title .main-project-tag {
  color: #ffffff;
  background-color: #908cff;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  border-radius: 40px;
  width: 30%;
}

#famous-projects .projects-background-line-top .projects-background-line-bottom .projects-background-woman-image .projects-main-content .projects-main-product .projects-main-product-title h6 {
  font-size: 40px;
  font-weight: bold;
  color: #000000;
  line-height: 48px;
  margin: 24px 0 32px;
}

#famous-projects .projects-background-line-top .projects-background-line-bottom .projects-background-woman-image .projects-main-content .projects-main-product .projects-main-product-title p {
  font-size: 18px;
  line-height: 32px;
  color: #606060;
  font-weight: 400;
  width: 50%;
}

#famous-projects .projects-background-line-top .projects-background-line-bottom .projects-background-woman-image .projects-main-content .projects-main-product .projects-main-product-image {
  width: 60%;
  position: absolute;
  left: 300px;
}

#famous-projects .projects-background-line-top .projects-background-line-bottom .projects-background-woman-image .projects-main-content .projects-main-product .projects-main-product-image .main-project-background {
  background-color: #d1ecfd;
  position: relative;
  padding: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 24px;
}

#famous-projects .projects-background-line-top .projects-background-line-bottom .projects-background-woman-image .projects-main-content .projects-main-product .projects-main-product-image .main-project-background .main-project-image img {
  width: 100%;
}

#famous-projects .projects-background-line-top .projects-background-line-bottom .projects-background-woman-image .projects-main-content .projects-main-product .projects-main-product-image .main-project-background button {
  position: absolute;
  bottom: 32px;
  left: 32px;
  width: 72px;
  height: 72px;
  border: 0;
  border-radius: 50%;
  color: #ffffff;
  background-color: #232340;
  font-size: 18px;
  font-weight: bold;
}

#famous-projects .projects-background-line-top .projects-background-line-bottom .projects-background-woman-image .projects-main-content .projects-main-product .projects-main-product-image .main-project-background .main-project-arrow-button {
  position: absolute;
  right: -32px;
  top: 100px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  width: 64px;
}

#famous-projects .projects-background-line-top .projects-background-line-bottom .projects-background-woman-image .projects-main-content .projects-bento-pt1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#famous-projects .projects-background-line-top .projects-background-line-bottom .projects-background-woman-image .projects-main-content .projects-bento-pt1 .project-card {
  width: 50%;
}

#famous-projects .projects-background-line-top .projects-background-line-bottom .projects-background-woman-image .projects-main-content .projects-bento-pt1 .project-card h6 {
  color: #232340;
  font-size: 40px;
  font-weight: bold;
  line-height: 48px;
  margin-bottom: 40px;
}

#famous-projects .projects-background-line-top .projects-background-line-bottom .projects-background-woman-image .projects-main-content .projects-bento-pt1 .project-card p {
  color: #606060;
  line-height: 32px;
  font-size: 18px;
  font-weight: 400;
  width: 65%;
  margin-top: 40px;
}

#famous-projects .projects-background-line-top .projects-background-line-bottom .projects-background-woman-image .projects-main-content .projects-bento-pt1 .vol2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#famous-projects .projects-background-line-top .projects-background-line-bottom .projects-background-woman-image .projects-main-content .projects-bento-pt1 .vol2 .vol2-content {
  width: 70%;
  position: relative;
}

#famous-projects .projects-background-line-top .projects-background-line-bottom .projects-background-woman-image .projects-main-content .projects-bento-pt1 .vol2 .vol2-content p {
  width: 100%;
}

#famous-projects .projects-background-line-top .projects-background-line-bottom .projects-background-woman-image .projects-main-content .projects-bento-pt1 .vol2 .vol2-content .project-image {
  border-radius: 24px;
  width: 100%;
  height: 200%;
  background-color: #e8beff;
  position: relative;
}

#famous-projects .projects-background-line-top .projects-background-line-bottom .projects-background-woman-image .projects-main-content .projects-bento-pt1 .vol2 .vol2-content .project-image img {
  width: 120%;
  position: absolute;
  left: -40%;
  top: 15%;
}

#famous-projects .projects-background-line-top .projects-background-line-bottom .projects-background-woman-image .projects-main-content .projects-bento-pt1 .vol2 .vol2-content .project-image button {
  border: 0;
  background: transparent;
  position: absolute;
  top: 65%;
  right: 27px;
}

#famous-projects .projects-background-line-top .projects-background-line-bottom .projects-background-woman-image .projects-main-content .projects-bento-pt1 .vol2 .vol2-content .project-image button img {
  width: 54px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

#famous-projects .projects-background-line-top .projects-background-line-bottom .projects-background-woman-image .projects-main-content .projects-bento-pt1 .d3 {
  padding-top: 300px;
}

#famous-projects .projects-background-line-top .projects-background-line-bottom .projects-background-woman-image .projects-main-content .projects-bento-pt1 .d3 .project-image {
  width: 80%;
  background-color: #ffce79;
  padding: 65px 85px 65px 55px;
  border-radius: 24px;
  position: relative;
}

#famous-projects .projects-background-line-top .projects-background-line-bottom .projects-background-woman-image .projects-main-content .projects-bento-pt1 .d3 .project-image img {
  width: 100%;
}

#famous-projects .projects-background-line-top .projects-background-line-bottom .projects-background-woman-image .projects-main-content .projects-bento-pt1 .d3 .project-image button {
  border: 0;
  background: transparent;
  position: absolute;
  top: 75%;
  right: -27px;
}

#famous-projects .projects-background-line-top .projects-background-line-bottom .projects-background-woman-image .projects-main-content .projects-bento-pt1 .d3 .project-image button img {
  width: 54px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

#famous-projects .projects-background-line-top .projects-background-line-bottom .projects-background-woman-image .projects-main-content .projects-bento-pt2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#famous-projects .projects-background-line-top .projects-background-line-bottom .projects-background-woman-image .projects-main-content .projects-bento-pt2 .project-card {
  width: 50%;
}

#famous-projects .projects-background-line-top .projects-background-line-bottom .projects-background-woman-image .projects-main-content .projects-bento-pt2 .project-card h6 {
  color: #232340;
  font-size: 40px;
  font-weight: bold;
  line-height: 48px;
  margin-bottom: 40px;
}

#famous-projects .projects-background-line-top .projects-background-line-bottom .projects-background-woman-image .projects-main-content .projects-bento-pt2 .project-card p {
  color: #606060;
  line-height: 32px;
  font-size: 18px;
  font-weight: 400;
  width: 65%;
  margin-top: 40px;
}

#famous-projects .projects-background-line-top .projects-background-line-bottom .projects-background-woman-image .projects-main-content .projects-bento-pt2 .vol3 .project-image {
  width: 80%;
  background-color: #d1ecfd;
  padding: 65px 85px 65px 55px;
  border-radius: 24px;
  position: relative;
}

#famous-projects .projects-background-line-top .projects-background-line-bottom .projects-background-woman-image .projects-main-content .projects-bento-pt2 .vol3 .project-image img {
  width: 100%;
}

#famous-projects .projects-background-line-top .projects-background-line-bottom .projects-background-woman-image .projects-main-content .projects-bento-pt2 .vol3 .project-image button {
  border: 0;
  background: transparent;
  position: absolute;
  top: 75%;
  right: -27px;
}

#famous-projects .projects-background-line-top .projects-background-line-bottom .projects-background-woman-image .projects-main-content .projects-bento-pt2 .vol3 .project-image button img {
  width: 54px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

#famous-projects .projects-background-line-top .projects-background-line-bottom .projects-background-woman-image .projects-main-content .projects-bento-pt2 .sapiens {
  padding-top: 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#famous-projects .projects-background-line-top .projects-background-line-bottom .projects-background-woman-image .projects-main-content .projects-bento-pt2 .sapiens .sapiens-content {
  width: 50%;
  margin-right: 135px;
}

#famous-projects .projects-background-line-top .projects-background-line-bottom .projects-background-woman-image .projects-main-content .projects-bento-pt2 .sapiens .sapiens-content p {
  width: 100%;
}

#famous-projects .projects-background-line-top .projects-background-line-bottom .projects-background-woman-image .projects-main-content .projects-bento-pt2 .sapiens .sapiens-content .project-image {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #ffadd0;
  padding: 0 20px 0 20px;
  border-radius: 24px;
  position: relative;
}

#famous-projects .projects-background-line-top .projects-background-line-bottom .projects-background-woman-image .projects-main-content .projects-bento-pt2 .sapiens .sapiens-content .project-image img {
  margin-top: 45%;
  margin-bottom: 30%;
  width: 100%;
}

#famous-projects .projects-background-line-top .projects-background-line-bottom .projects-background-woman-image .projects-main-content .projects-bento-pt2 .sapiens .sapiens-content .project-image button {
  border: 0;
  background: transparent;
  position: absolute;
  top: 70%;
  right: -27px;
}

#famous-projects .projects-background-line-top .projects-background-line-bottom .projects-background-woman-image .projects-main-content .projects-bento-pt2 .sapiens .sapiens-content .project-image button img {
  width: 54px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
/*# sourceMappingURL=style.css.map */